<%= render 'layouts/page_search_form', search_criteria: ['name', 'email'] %>

<div class="ui clearing segments">

  <div class="ui segment">
    <h3>Listing <%= controller.controller_name.titleize %> 
    	<%= render 'layouts/page_action_buttons' %>
    </h3>
  </div>

  <div class="ui secondary segment">
  	<!-- page content -->
	<table class="ui sortable very compact striped table">
	  <thead>
		<tr>
		  <th>Name</th>
		  <th>Currency</th>
		  <th>Is customer</th>
		  <th>Is supplier</th>
		  <th>Rates Count</th>
		  <th width="30px"></th>
		</tr>
	  </thead>
	
	  <tbody>
	  	<% @records = @carriers %>
		<% @carriers.each do |record| %>
		  <tr class="collapsing">
			<td><%= record.name %></td>
			<td><%= record.currency %></td>
			<td><%= record.is_customer %></td>
			<td><%= record.is_supplier %></td>
			<td> 
				<a class="ui brown circular label"> <%= record.rates_count %> </a> 

				<%= form_tag upload_rates_path, multipart: true do %>
				<%= file_field_tag :file %>
				<%= hidden_field_tag :carrier_id, record.id %>
				<%= submit_tag "Import" %>
				<% end %>				
				
			</td>
			<%= render 'layouts/table_row_action_buttons', collection: @records, row: record %>
		  </tr>
		<% end %>
	  </tbody>
	  <%= render 'layouts/table_paging', collection: @records, :locals => {:colspan => 4} %>
	  
	</table>
	<!-- end page content -->
  </div>
  
</div>

