<div class="nine wide products column">
 <div class="ui form">
   <div class="ui basic segment">
 	<div class="two fields">
 	  <div class="field">
 		<div class="ui selection dropdown">
 		  <input type="hidden" name="categories">
 		  <i class="dropdown icon"></i>
 		  <div class="default text">Categories</div>
 		  <div class="menu">
 			<div class="item" data-value="1">Home</div>
 			<div class="item" data-value="0">Bathroom</div>
 		  </div>
 		</div>
 	  </div>
 
 	  <div class="field">
 		<div class="ui icon input">
 		  <input type="text" placeholder="Search...">
 		  <i class="search icon"></i>
 		</div>
 	  </div>
 	</div>
   </div>
 </div>
</div>




<div class="ui clearing segments">
  <div class="ui segment">
    <h3>Listing <%= controller.controller_name.titleize %> 
    	<%= render 'layouts/page_action_buttons' %>
    </h3>
  </div>

  <div class="ui secondary segment">
  		
  	<!-- page content -->
	<table class="ui celled compact striped table">
	  <thead>
		<tr>
		  <th>Name</th>
		  <th>Is customer</th>
		  <th>Is supplier</th>
		  <th width="30px"></th>
		</tr>
	  </thead>
	
	  <tbody>	  
		<%  @carriers.each do |record| %>
		  <tr class="collapsing">
			<td><%= record.name %></td>
			<td><%= record.is_customer %></td>
			<td><%= record.is_supplier %></td>
			<td>                                                                                                                                                                
				<div class="ui tiny icon buttons">                                                                                                                                   
				  <%= link_to '<i class="edit icon"></i>'.html_safe, edit_carrier_path(record), class: 'ui button' %>                                                          
				  <%= link_to '<i class="delete icon"></i>'.html_safe, record, method: :delete, data: { confirm: "Are you sure to delete '#{record.name}' ?" }, class: 'ui button red' %>                  
				</div>                                                                                                                                                          
			</td> 			
		  </tr>
		<% end %>
	  </tbody>
	  <tfoot>
		  <tr><th colspan="4"><%= paginate @carriers %></th></tr>
		  <tr><th colspan="4"><%= page_entries_info @carriers %></th></tr>
	  </tfoot>
	</table>
	<!-- end page content -->
		
  </div>
</div>

