<%= render 'layouts/page_search_form', search_criteria: ['name'] %>

<div class="ui clearing segments">

  <div class="ui segment">
    <h3>Listing <%= controller.controller_name.titleize %> 
    	<%= render 'layouts/page_action_buttons' %>
    </h3>
  </div>

  <div class="ui secondary segment">
  	<!-- page content -->
	<table class="ui sortable very compact striped table">
	  <thead>
		<tr>
		  <th>Email</th>
		  <th>Name</th>
		  <th>Locale</th>
		  <th width="30px"></th>
		</tr>
	  </thead>
	
	  <tbody>
	  	<% @records = @users %>
		<% @records.each do |record| %>
		  <tr class="collapsing">
		  	<td><%= record.email %></td>
			<td><%= record.name %></td>
			<td><%= record.default_locale %></td>
			
			<% if record.email != current_user.email %>
			    
				<td> 
				  <div class="ui mini icon buttons">                                                                                                                                   
					<%= link_to '<i class="edit icon"></i>'.html_safe, edit_users_admin_path(record), class: 'ui button' %>                                                            
					<%= link_to '<i class="delete icon"></i>'.html_safe, users_admin_path(record), method: :delete, data: { confirm: "Are you sure to delete '#{record.email}' ?" }, class: 'ui button red' %>     
				  </div>                                                                                                                                                          
				</td>
				
			<% else %>
			
				<td>&nbsp;</td>
				
			<% end %>

		 </tr>
		 
		 
		<% end %>
	  </tbody>
	  <%= render 'layouts/table_paging', collection: @records, :locals => {:colspan => 3} %>
	  
	</table>
	<!-- end page content -->
  </div>
  
</div>

