<style type="text/css">
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}
</style>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        <i class="privacy icon"></i>Change your password
      </div>
    </h2>


	<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, :class => 'ui large form' }) do |f| %>
	<div class="ui stacked segment">
	
	  <%= f.error_notification %>
	
	  <%= f.input :reset_password_token, as: :hidden %>
	  <%= f.full_error :reset_password_token %>
	
	  <div class="form-inputs">
		<%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
		<%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
	  </div>
	
	  <div class="form-actions">
		<%= f.button :submit, "Change my password" %>
	  </div>
	<% end %>

	</div>
  </div>
</div>

	