<%= render 'layouts/page_search_form', search_criteria: ['name'] %>

<div class="ui clearing segments">

  <div class="ui segment">
    <h3>Listing <%= controller.controller_name.titleize %> 
    	<%= render 'layouts/page_action_buttons' %>
    </h3>
  </div>

  <div class="ui secondary segment">
  	<!-- page content -->
	<table class="ui sortable very compact striped table">
	  <thead>
		<tr>
		  <th>Name</th>
		  <th>ID</th>
		  <th width="30px"></th>
		</tr>
	  </thead>
	
	  <tbody>
	  	<% @records = @zones %>
		<% @zones.each do |record| %>
		  <tr class="collapsing">
			<td><%= record.name %></td>		  
		    <td><%= record.id %></td>
			<%= render 'layouts/table_row_action_buttons', collection: @records, row: record %>
		  </tr>
		<% end %>
	  </tbody>
	  <%= render 'layouts/table_paging', collection: @records %>
	  
	</table>
	<!-- end page content -->
  </div>
  
</div>

