<%= render 'layouts/page_search_form', search_criteria: ['name'] %>

<div class="ui clearing segments">

  <div class="ui segment">
    <h3>Comparison - Currency: <%= params[:currency].upcase %>
       <button class="ui tiny right floated green button" id="xls-export">
       	 <i class="download icon"></i>Export
       </button>
    </h3>
    
  </div>

  <div class="ui secondary segment">
    
  	<!-- page content -->
	<table id="xls-table" class="ui sortable very compact striped table">
	  <thead>
		<tr>
		  <th>Zone</th>
		  <th>Best</th>
		  <% @carriers.each do |c| %>
		    <th><%= c[1] %></th>
		  <% end %>
		  
		</tr>
	  </thead>
	
          <tbody>
                <% @zones.each do |z| %>
                  <tr class="collapsing">
                        <td><%= z[1] %></td>
                        <td><%= empty_rate(@best_rates["#{z[1]}"]) %></td>

                        <% @carriers.each do |k,v| %>
                        
                            <td>
                                <% if (@best_rates["#{z[1]}"] == @rates["#{z[1]}-#{k}"]) && (@rates["#{z[1]}-#{k}"] != 0) && (@rates["#{z[1]}-#{k}"] != nil)%>
                                    <a class="ui tiny blue label"><%= empty_rate(@rates["#{z[1]}-#{k}"]) %></a>
                                <% else %>
                                    <%= empty_rate(@rates["#{z[1]}-#{k}"]) %>
                                <% end %>
                            </td>

                            <!--<td><%= empty_rate(@rates["#{z[0]}-#{k}"])%></td>-->
                        <% end %>

                  </tr>
                <% end %>

          </tbody>
	  
	</table>
	<!-- end page content -->
  </div>
  
</div>

<%= javascript_include_tag "jquery.table2excel.min" %>
<%= javascript_include_tag params[:controller] %>