<%= render 'layouts/page_search_form', search_criteria: ['name', 'prefix'] %>

<div class="ui clearing segments">

  <div class="ui segment">
    <h3>Comparison</h3>
  </div>

  <div class="ui secondary segment">
    
  	<!-- page content -->
	<table class="ui sortable very compact striped table">
	  <thead>
		<tr>
		  <th>Zone</th>
		  <th>Best</th>
		  <% @carriers.each do |c| %>
		    <th><%= c[1] %></th>
		  <% end %>
		  
		</tr>
	  </thead>
	
	  <tbody>
		<% @zones.each do |z| %>
		  <tr class="collapsing">
			<td><%= z[1] %></td>
			<td><%= @best_rates["#{z[0]}".to_i] %></td>
						
			<% @carriers.each do |k,v| %>
				<td><%= @rates["#{z[0]}-#{k}"] %></td>
			<% end %>
			
		  </tr>
		<% end %>
				
	  </tbody>
	  
	</table>
	<!-- end page content -->
  </div>
  
</div>

<%= javascript_include_tag params[:controller] %>