<div class="ui secondary pointing fluid menu">
	<h2 class="ui header">Generate Sell Rates</h2>
</div>

<%= simple_form_for :rate, :url => generated_rates_view_rates_path do |f| %>

  <%= f.input :currency, collection: Currency.major_currencies(Money::Currency.table), input_html: { class: "ui search selection dropdown", maxlength: 60 }, prompt: "Choose a Currency" %>
  <%= f.input :carriers, 
    collection: [Carrier.new(id: 0, name: 'Select All')] + Carrier.order(:name), 
    input_html: { class: "ui search multiple dropdown", maxlength: 60 }, prompt: "Choose a Carrier" %>
  <%= f.input :zones, 
  	collection: [Zone.new(id: 0, name: 'Select All')] + Zone.order(:name),
  	input_html: { class: "ui search multiple dropdown", maxlength: 60 }, prompt: "Choose a Zone" 
  %>
  <%= f.input :criteria, collection: [ "min", "avg", "max"], input_html: { class: "ui search dropdown", maxlength: 60 }, prompt: "Price Criteria" %>

  <%= f.input :markup1, :label => '% Markup 0 - 0,05', input_html: {value: '30'} %>
  <%= f.input :markup2, :label => '% Markup 0,06 - 0,10', input_html: {value: '15'}  %>
  <%= f.input :markup3, :label => '% Markup 0,11 - 0,20', input_html: {value: '10'}  %>
  <%= f.input :markup4, :label => '% Markup 0,21 - 0,30', input_html: {value: '5'}  %>
  <%= f.input :markup5, :label => '% Markup > 0,30', input_html: {value: '3'}  %>  
  
  <%= f.button :button, "Generate" %>
  <%= link_to 'Back', url_for(:back), class: "ui button" %>
<% end %>
