<div class="ui secondary pointing fluid menu">
	<h2 class="ui header">Generate Sell Rates</h2>
</div>

<%= simple_form_for :rate do |f| %>

  <%= f.input :currency, collection: Currency.major_currencies(Money::Currency.table), input_html: { class: "ui search selection dropdown", maxlength: 60 }, prompt: "Choose a Currency" %>
  <%= f.input :carriers, collection: Carrier.order(:name), input_html: { class: "ui search multiple dropdown", maxlength: 60 }, prompt: "Choose a Carrier" %>
  <%= f.input :zones, 
  	collection: [Zone.new(id: 0, name: 'Select All')] + Zone.order(:name),
  	input_html: { class: "ui search multiple dropdown", maxlength: 60 }, prompt: "Choose a Zone" 
  %>
  <%= f.input :criteria, collection: [ "min", "med", "max"], input_html: { class: "ui search dropdown", maxlength: 60 }, prompt: "Price Criteria" %>
  <%= f.input :markup1, :label => 'Markup 0 - 0,10' %>
  <%= f.input :markup2, :label => 'Markup 0,11 - 0,30' %>
  <%= f.input :markup3, :label => 'Markup > 0,30' %>  
  
  <%= f.button :button, "Generate" %>
  <%= link_to 'Back', url_for(:back), class: "ui button" %>
<% end %>
