<%= render 'layouts/page_search_form', search_criteria: ['name', 'prefix'] %>

<div class="ui clearing segments">

  <div class="ui segment">
    <h3>Listing <%= controller.controller_name.titleize %> 
    	<%= link_to '<i class="shipping icon"></i> Generate Sell Rates'.html_safe, {:controller => "rates", :action => "generate" }, class: "ui tiny right floated green button" %>
    	<%= render 'layouts/page_action_buttons' %>
    </h3>
  </div>

  <div class="ui secondary segment">
  	<!-- page content -->
	<table class="ui sortable very compact striped table">
	  <thead>
		<tr>
		  <th>Carrier</th>
		  <th>Name</th>
		  <th>Prefix</th>
		  <th>Zone</th>
		  <th>Date</th>
		  <th>Status</th>
		  <th>Original</th>
		  <th>Price</th>
		  <th>Currency</th>
		  <th>EUR</th>
		  <th width="30px"></th>
		</tr>
	  </thead>
	
	  <tbody>
	  	<% @records = @rates %>
		<% @rates.each do |record| %>
		  <tr class="collapsing">
		    <td><%= record.carrier.name %></td>
			<td><%= record.name %></td>
			<td><%= record.prefix %></td>
			<td><%= record.zone.name unless record.zone_id.nil? %></td>
			<td><%= record.start_date.strftime("%Y-%m-%d") unless record.start_date.nil?  %></td>
			<td>
				<% if record.status=="active" %>
					<a class="ui tiny green label"><%= record.status %></a>
				<% elsif record.status=="pending" %> 
					<a class="ui tiny orange label"><%= record.status %></a>
				<% else %> 
					<%= record.status %>
				<% end %>			
			</td>
			<td><%= record.price_min %></td>
			<td><%= record.found_price %></td>
			<td><%= record.carrier.currency %></td>
			<td><%= number_with_precision(record.price_min.to_d / ExchangeRate.exchange(record.carrier.currency.to_s), precision: 4)  %></td>

			<!--<td><%#= record.zone.name %></td>-->
			<%= render 'layouts/table_row_action_buttons', collection: @records, row: record %>
		  </tr>
		<% end %>
	  </tbody>
	  <%= render 'layouts/table_paging', collection: @records, :locals => {:colspan => 8} %>
	  
	</table>
	<!-- end page content -->
  </div>
  
</div>

