<!-- Left Sidebar -->
<div class="ui vertical inverted left visible sidebar menu"> 
  <div class="ui blue inverted segment" id="app_title"><i class="setting icon"></i><b>Control Panel</b></div>
  <a><%= link_to '<i class="home icon"></i> Dashboard'.html_safe, dashboards_path, class: "item #{active_class('/dashboards')}" %></a>
  <a><%= link_to '<i class="exchange icon"></i> Carriers'.html_safe, carriers_path, class: "item #{active_class('/carriers')}" %></a>
  <a><%= link_to '<i class="world icon"></i> Zones'.html_safe, zones_path, class: "item #{active_class('/zones')}" %></a>
  <a><%= link_to '<i class="unordered list icon"></i> Codes'.html_safe, codes_path, class: "item #{active_class('/codes')}" %></a>
  <a><%= link_to '<i class="euro icon"></i> Buy Rates'.html_safe, rates_path, class: "item #{active_class('/rates')}" %></a>
  <a><%= link_to '<i class="euro icon"></i> Comparison'.html_safe, comparison_rates_path, class: "item #{active_class('/rates/comparison')}" %></a>
  <a><%#= link_to '<i class="settings icon"></i> Options'.html_safe, options_path, class: "item #{active_class('/options')}" %></a>
  <a><%= link_to '<i class="eject icon"></i> Logout'.html_safe, destroy_user_session_path, :method => :delete, class: 'item' %></a>
</div>


<!-- Top Fixed Menu -->
<div class="ui top fixed menu">
	<a class="item menu-trigger"><span  data-tooltip="Show/Hide menu" data-position="bottom left" data-variation="inverted"><i class="sidebar blue icon"></i></span></a>
	
    <!-- user menu -->
    <div class="right menu logout">
      <div class="ui dropdown item">
        <i class="user icon"></i> <%= current_user.email %> <i class="dropdown icon"></i>
        <div class="menu">
          <a><%= link_to '<i class="users icon"></i> Accounts'.html_safe, users_admin_index_path, class: 'item' %></a>
          <a><%= link_to '<i class="options icon"></i> Settings'.html_safe, edit_user_registration_path , class: 'item' %></a>
          <a><%= link_to '<i class="eject icon"></i> Logout'.html_safe, destroy_user_session_path, :method => :delete, class: 'item' %></a>
        </div>
      </div>  
    </div>  
</div>
